.deleter{
	color: red;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 10px;
}

#formHolder{
	overflow: auto;
	width: 100%;
}

.inputForms{
	overflow: auto;
	width: 30%;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: auto;
}


input{
	width: 90%;
}

.submitButtonHolder{
	text-align: center;
}

.submitButton{
	margin-top: 15px;
}

#results{
	width: 100%;
}

.update{
	color: green;
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
}

#searchFilters{
	border: 2px solid black;
}

/*Show All Prospects Button*/
#allProspects{
	color: white;
	background-color: green;
	margin-left: 10px;
}

/*Show All Schools Button*/
#allSchools{
	color: white;
	background-color: orange;
	margin-left: 10px;
}

#createFilters{
	padding: 10px;
}


