/*++++++++++
Header and Nav Bar
++++++++++*/

header{
	height: 150px;
}


.trtlHeader{
	line-height: 150px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*++++++++++
Input Forms
++++++++++*/

#searchByNameInput{
	width: 50%;
}

.inputFormRow{
	margin-top: 30px;
	box-sizing: border-box;
	height: 350px;
	overflow: auto;

}

.inputFormDiv{
	padding: 25px !important;
	height: 100%;
}

input{
	height: 20px !important;
}